
{{#if hasErrors}}
{{# each messages }}
<p>{{this}}</p>
{{/each}}
{{/if}}

<form action="/submitMentorDetails" method="post">
<label for = "FirstName"> First Name</label>
<input type="text" id="fName" name="fname"/><br><br>
<label for = "LastName">Last Name</label>
<input type="text" id="lName" name ="lname"/><br><br>
<label for = "PhoneNumber">Phone Number</label>
<input type="number" id="pno" name ="pno"/><br><br>
<label for = "Email">Email</label>
<input type="email" id="email22" name ="email22"/><br><br>
<Button type="button" onclick="functionSlots()"> Select Slots </Button>
<input type="reset" value="reset"/>
<input type="submit" value="Submit" />
</form>

<script>


var dataRow = sessionStorage.getItem('keyRow');
var dataCol = sessionStorage.getItem('keyCol');
var dataPhone= sessionStorage.getItem('keyPhone');
var dataFname= sessionStorage.getItem('keyFname');
var dataLname= sessionStorage.getItem('keyLname');
var dataEmail= sessionStorage.getItem('keyEmail');


console.log("First="+dataFname);
console.log("Last="+dataEmail);

document.getElementById("pno").value=dataPhone;
document.getElementById("lName").value=dataLname;
document.getElementById("fName").value=dataFname;
document.getElementById("email22").value=dataEmail;
console.log("UDIT");
console.log("ROW="+dataRow);

function functionSlots() {
var x_phone=document.getElementById("pno").value;
var x_lname=document.getElementById("lName").value;
var x_fname=document.getElementById("fName").value;
var x_email=document.getElementById("email22").value;

sessionStorage.setItem('keyPno',x_phone);
sessionStorage.setItem('keyLname',x_lname);
sessionStorage.setItem('keyFname',x_fname);
sessionStorage.setItem('keyEmail',x_email);

 window.open("/slots");
}
</script>


