<!doctype html>
<html>
<head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

    <title>Slots</title>
    <style type="text/css">
    body
    {
        font-family: arial;
    }

    th,td
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid #e3e3e3;
    }

    td
    {
        padding: 5px 10px;
    }

    th
    {
        background: #666;
        color: white;
        padding: 5px 10px;
    }

    td:hover
    {
        cursor: pointer;
        background: #666;
        color: white;
    }
    </style>

</head>
<body>
    <table id="yoTable" width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
</div>  

    <tr>
        <th>00:00 - 00:30</th>
        
            <td"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </div>
    </tr>

    <tr>
        <th>00:30 - 01:00</td>
        
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>

    <tr>
        <th>01:00 - 01:30</td>
        	<td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>

        </div>
    </tr>

    <tr>
        <th>01:30 - 02:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>

        </div>
    </tr>

    <tr>
        <th>02:00 - 02:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>02:30 - 03:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>03:00 - 03:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>03:30 - 04:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>04:00 - 04:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>04:30 - 05:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>05:00 - 05:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>05:30 - 06:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>06:00 - 06:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>06:30 - 07:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>07:00 - 07:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>07:30 - 08:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </div>
    </tr>
    <tr>
        <th>08:00 - 08:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>08:30 - 09:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>09:00 - 09:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>09:30 - 10:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>10:00 - 10:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>10:30 - 11:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>

<tr>
        <th>11:00 - 11:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>

<tr>
        <th>11:30 - 12:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>12:00 - 12:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>12:30 - 13:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>13:00 - 13:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>13:30 - 14:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>14:00 - 14:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>14:30 - 15:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>15:00 - 15:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>15:30 - 16:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>16:00 - 16:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>16:30 - 17:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
    <tr>
        <th>17:00 - 17:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>

 <tr>
        <th>17:30 - 18:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>18:00 - 18:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>18:30 - 19:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>19:00 - 19:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>19:30 - 20:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>20:00 - 20:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>20:30 - 21:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>21:00 - 21:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>21:30 - 22:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>22:00 - 22:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>22:30 - 23:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>23:00 - 23:30</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     <tr>
        <th>23:30 - 24:00</td>
        
           <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
             <td></td>
        </div>
    </tr>
     
    </tr>











</table>

<Button type="button" onclick="functionData()">Done</Button>

</body>
<script>

// var mongoose =require('mongoose');
// var Cell=require('../models/cell');
var dataPhone = sessionStorage.getItem('keyPno');
var dataEmail = sessionStorage.getItem('keyEmail');
var dataFname = sessionStorage.getItem('keyFname');
var dataLname = sessionStorage.getItem('keyLname');
console.log("Phone="+dataPhone);
console.log("EMail="+dataEmail);
var rowNo =[];
var columnNo=[];
var table = document.getElementById("yoTable");
var x = document.getElementsByTagName("td");
if (table != null) {
    for (var i = 0; i < table.rows.length; i++) {
        for (var j = 0; j < table.rows[i].cells.length; j++)
        table.rows[i].cells[j].onclick = function () {
            // document.write(+i  +j);
            changeBackground(this);
            // storingRowColumn(i,j)  
        };
    }
}

var x = document.getElementsByTagName("tr");
    for(var i=0;i<table.rows.length;i++){
        x[i].onclick=function(){
            rowNumber(this);
        }
    }

function changeBackground(tableCell) {
    tableCell.style.background="rgb(25,20,20)";
    columnNo.push(tableCell.cellIndex);
     // alert("Cell index is:"+tableCell.cellIndex);
     // var column[]=tableCell.cellIndex;
}


function rowNumber(tableRow){
 // alert("Cell Row is:"+tableRow.rowIndex);
 rowNo.push(tableRow.rowIndex);
}

function functionData(){

sessionStorage.setItem('keyRow',rowNo);
sessionStorage.setItem('keyCol',columnNo);
sessionStorage.setItem('keyPhone',dataPhone);
sessionStorage.setItem('keyFname',dataFname);
sessionStorage.setItem('keyLname',dataLname);
sessionStorage.setItem('keyEmail',dataEmail);
window.open("/mentorPage","_self");
}
// function rowAndColumn(){

// }

</script>





</html>
