
{{#if hasErrors}}
{{# each messages }}
<p>{{this}}</p>
{{/each}}
{{/if}}

<form action="/submitStudentDetails" method="post">
<label for = "FirstName"> First Name</label>
<input type="text" id="fNa" name="fname"/><br><br>
<label for = "LastName">Last Name</label>
<input type="text" id="lName" name ="lname"/><br><br>
<button type="button" onclick="myFunction()">Select Mentor</button><br><br>
<input type="submit" value="Submit" />
</form>

<script>
function myFunction() {
    <dialog id="window">  
    <h3>Sample Dialog!</h3>  
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, inventore!</p>  
    <button id="exit">Close Dialog  
</dialog>  
}
</script>