<form action="/submit" method="post">
<label for = "FirstName"> First Name</label>
<input type="text" id="fName" name="text"/><br><br>
<label for = "LastName">Last Name</label>
<input type="text" id="lName" name ="text"/><br><br>
<input type="submit" value="Submit text" />
</form>